[{:class "Honors Geometry"}
 {:class "CP German 2/3" :term "S1"}
 {:class "CP English 2: Literature & Comp" :term "S1|S2"}
 {:class "Honors Chemistry"}
 {:class "CP World & US History 2"}
 {:class "CP German 2/3" :term "S2"}
 {:class "Woodworking Studio"}
 {:class "Personal Fitness:  Foundations \\(She/Her/They\\)"}]